<launch>
        <!-- Start map_localize_node -->
	<node name="map_localize" pkg="map_localize" type="map_localize_node" output="screen">
		<remap from="image" to="/camera/image_mono" />
		<remap from="camera_info" to="/camera/camera_info" />

		<param name="enable_edge_tracking" type="bool" value="false"/>
		<param name="show_debug" type="bool" value="false"/>
		<param name="show_pnp_matches" type="bool" value="false"/>
		<param name="show_global_matches" type="bool" value="true"/>
		<param name="virtual_image_source" type="string" value="ogre"/>
		<param name="pnp_descriptor_type" type="string" value="orb"/>
		<param name="pnp_match_radius" type="double" value="-1"/>
		<param name="img_match_descriptor_type" type="string" value="surf"/>
		<param name="global_localization_alg" type="string" value="depth_feature_match"/>
		<param name="ogre_data_dir" type="string" value="$(find map_localize)/data/cheezit"/>
		<param name="ogre_cfg_dir" type="string" value="$(find map_localize)/ogre_cfg/"/>
		<param name="ogre_model" type="string" value="cheezit2.mesh"/>
		<param name="image_scale" type="double" value="0.5"/>
	</node>
</launch>
