<launch>
        <!-- Start map_localize_node -->
	<node name="map_localize" pkg="map_localize" type="map_localize_node" output="screen">
		<remap from="virtual_caminfo" to="/kinect/camera_info" />
		<remap from="virtual_image" to="/kinect/image_raw" />
		<remap from="virtual_depth" to="/kinect/depth/image_raw" />
		<remap from="image" to="/camera/image_raw" />

		<param name="mesh_filename" type="string" value="/bin/lab_cage.stl"/>
		<param name="load_descriptors" type="bool" value="true"/>
		<param name="show_pnp_matches" type="bool" value="false"/>
		<param name="show_global_matches" type="bool" value="true"/>
		<param name="descriptor_filename" type="string" value="$(find map_localize)/data/lab_fabmap_surf_"/>
		<param name="virtual_image_source" type="string" value="gazebo"/>
		<param name="pnp_descriptor_type" type="string" value="surf_gpu"/>
		<param name="img_match_descriptor_type" type="string" value="surf"/>
		<param name="image_scale" type="double" value="0.5"/>
		<param name="global_localization_alg" type="string" value="fabmap"/>
		<param name="photoscan_filename" type="string" value="/home/matt/Documents/lab_cage_doc.xml"/>
	</node>
</launch>
