<launch>
        <!-- Start mesh_localize_node -->
	<node name="mesh_localize" pkg="mesh_localize" type="mesh_localize_node" output="screen">
		<remap from="virtual_caminfo" to="/kinect/camera_info" />
		<remap from="virtual_image" to="/kinect/image_raw" />
		<remap from="virtual_depth" to="/kinect/depth/image_raw" />
		<remap from="image" to="/camera/image_raw" />

		<param name="mesh_filename" type="string" value="/bin/map.stl"/>
		<param name="load_descriptors" type="bool" value="true"/>
		<param name="show_pnp_matches" type="bool" value="false"/>
		<param name="show_global_matches" type="bool" value="true"/>
		<param name="descriptor_filename" type="string" value="$(find mesh_localize)/data/ASurfKeypointsAndDescriptors_lowres2.bin"/>
		<param name="virtual_image_source" type="string" value="gazebo"/>
		<param name="pnp_descriptor_type" type="string" value="surf_gpu"/>
		<param name="img_match_descriptor_type" type="string" value="surf"/>
		<param name="global_localization_alg" type="string" value="matching"/>
		<param name="photoscan_filename" type="string" value="/home/matt/Documents/campus_doc.xml"/>
	</node>
</launch>
