# Resources required by the sample browser and most samples.
[Essential]
Zip=/home/matt/object_renderer/media/models/box/box.zip
Zip=/home/matt/object_renderer/media/models/lab_cage/lab_cage.zip
Zip=/home/matt/object_renderer/media/models/cheezit/cheezit2.zip
FileSystem=/home/matt/object_renderer/media/materials/scripts
FileSystem=/home/matt/object_renderer/media/materials/programs

#Zip=/usr/local/share/OGRE/Media/packs/SdkTrays.zip



# Resource locations to be added to the default path

#[General]

#FileSystem=/usr/local/share/OGRE/Media

#FileSystem=/usr/local/share/OGRE/Media/materials/scripts
#FileSystem=/usr/local/share/OGRE/Media/materials/programs/Cg
#FileSystem=/usr/local/share/OGRE/Media/materials/programs/GLSL

#FileSystem=/usr/local/share/OGRE/Media/materials/textures

#FileSystem=/usr/local/share/OGRE/Media/models
